.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.logo {
    width: auto; 
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.line_container {
    position: relative;
    width: 100%;
}

.line {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #000;
    animation: expand 2s infinite;
}

@keyframes expand {
    0% {
        width: 0;
    }
    50% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}