.device-frame > div {
    display: none;
  }
  
  @media (min-width: 1024px) {
    .desktop-only {
      display: block !important;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .tablet-only {
      display: block !important;
    }
  }
  
  @media (max-width: 767px) {
    .mobile-only {
      display: block !important;
      .screen{
        padding-top: 30px;
      }
    }
  }
  