.portfolio-header {
    .cta {
        margin: 10px;
        flex-shrink: 0;
    }
}
.main-header{
  display: flex;
}
.main-section{
  display: flex;
  margin: 0 auto;
  gap: 30px;
}
.port-btn{
  cursor: pointer;
}
.marvel-device {
    display: block;
    margin: 3em auto;
  }
  
  .marvel-device img {
    width: 100%;
    height: auto;
  }
  
  .section-block{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
  }

